.main-quienes {
    display: flex;
    position: relative;
    top: 10vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.main-quienes article{
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.902);
    width: 100%;
    text-align: center;
    color: white;
    align-items: center
}